<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/cabecalho.ejs") %>
    <a class="btn btn-primary" href="/alunos">Relat칩rio de alunos</a>
    <a class="btn btn-warning" href="/alunos/cadastrar">Cadastrar alunos</a><br><br>
    <%- include("partials/rodape.ejs") %>

    <a class="btn btn-primary" href="/usuarios">Relat칩rio de usu치rios</a>
    <a class="btn btn-warning" href="/usuarios/cadastrar">Cadastrar usu치rios</a>
    <%- include("partials/rodape.ejs") %>
</body>
</html>