<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include("partials/cabecalho.ejs") %>
    <a class="btn btn-primary" href="/atletas">Relatório de atletas</a>
    <a class="btn btn-warning" href="/atletas/cadastrar">Cadastrar atletas</a><br><br>
    <a class="btn btn-primary" href="/personals">Relatório de personals</a>
    <a class="btn btn-warning" href="/personals/cadastrar">Cadastrar personals</a><br><br>
    <%- include("partials/rodape.ejs") %>

    <a class="btn btn-primary" href="/usuarios">Relatório de usuários</a>
    <a class="btn btn-warning" href="/usuarios/cadastrar">Cadastrar usuários</a>
    <%- include("partials/rodape.ejs") %>
</body>
</html>